@chartset 'utf-8';
/* header */
@media screen and (max-width: 768px) {
.nav > ul { width: 100%; padding: 0 10px; margin: 10px 0 0; box-sizing: border-box;}
	.nav > ul li { width: 33%; padding: 0; margin: 0; text-align: center;}
	.nav > ul li:last-child { margin-left: 0;}
	
header > h1 { width: 90%; margin: 30px auto; padding-left: 10%; box-sizing: border-box;}
	header > h1 img { width: 180px;}

.mobile_menu { display: inline-block; float: left; width: 10%; margin-top: 52px; text-align: center; cursor: pointer;}
	.mobile_menu img { display: inline-block; vertical-align: middle;}
	.mobile_menu span { display: inline-block; vertical-align: middle;}

.menu { display: none;}
	.menu > ul > li { width: 100%;}
		.menu > ul > li a { padding: 20px 0;}
	
	.menu > ul li:hover .sub_menu { display: none;}
	.sub_menu { position: inherit; width: 100%; margin-left: 0%; border: none; background: #efefef;}
		.sub_menu > li a { padding: 18px 0;}
}


/* 배너 */
#sub_contents > p > img { width: 100%;}


/* 메뉴 카테고리 */
.menu_list_warp { text-align: center; margin: 90px auto 60px;}
.menu_list_warp:after { content: ""; display: block; clear: both;}

	.con_title { font-size: 32px; margin-bottom: 18px;}
	
	.menu_list_warp p span { font-size: 15px;}
		.menu_list_warp .home { color: #999;}
		.menu_list_warp .tag { display: inline-block; padding: 0 10px;}

@media screen and (max-width: 768px) {
	.menu_list_warp { margin: 60px auto 60px;}
}	

/* 메뉴 상세 카테고리 */
.menu_info_warp { text-align: left; margin: 0 0 10px; font-size: 15px;}
		.menu_info_warp .home { color: #999;}
			.menu_info_warp .tag { display: inline-block; padding: 0 10px;}
			

/* 베이커리 소개 */
.insa { margin-bottom: 50px;}
	.insa > p img { width: 100%;}
	.insa > article { max-width: 1220px; margin: auto; padding: 50px 10px; line-height: 25px; font-size: 16px; word-break: keep-all;}
		.insa > article > h3 { text-align: center; font-size: 25px; color: #523f31; margin-bottom: 40px;}
		
.insa_type2 { background: #efefef; overflow: hidden; padding: 80px 0; margin-bottom: 100px;}
	.insa_type2 h3 { color: #523f31; font-size: 25px;}

.type_img { width: 64%; max-width: 742px;}
	.type_img img { width: 100%;}
.type_text { width: 36%; max-width: 458px; box-sizing: border-box; line-height: 23px; font-size: 16px;}

@media screen and (max-width: 1024px) {
	.type_img { width: 55%; max-width: 550px;}
	.type_text { width: 45%; max-width: 45%;}

}

@media screen and (max-width: 800px) {
	.type_img { width: 100%; max-width: 100%;}
	.type_text { width: 100%; max-width: 100%;}
}
	

	.type_01 h3 { margin: 40px 0 20px; font-size: 25px;}
	.type_02 h3 { margin: 35px 0 20px; font-size: 25px;}

	@media screen and (max-width: 1200px) {
		.type_text { font-size: 15px; line-height: 20px;}

		.type_01 h3 { margin: 60px 0 10px; font-size: 22px;}
		.type_02 h3 { margin: 55px 0 10px; font-size: 22px;}
	}

	@media screen and (max-width: 1024px) {
		.type_01 h3, .type_02 h3 { margin: 0px 0 10px;}
	}

	@media screen and (max-width: 800px) {
		.type_01 h3, .type_02 h3 { margin: 30px 0 10px;}		
	}
	

	.type_01 { max-width: 1220px; padding: 0 10px; margin: auto;}
	.type_01:after { content: ""; display: block; clear: left;}

		.type_01 .type_img { float: left;}
		.type_01 .type_text { float: left; padding-left: 4%;}

	.type_02 { max-width: 1220px; padding: 0 10px; margin: 50px auto 0;}
	.type_02:after { content: ""; display: block; clear: left;}
		
		.type_02 .type_img { float: right;}
		.type_02 .type_text { float: left; padding-right: 4%;}

	@media screen and (max-width: 800px) {
		.type_01 .type_text, .type_02 .type_text { padding-left: 0;}
	}
		


/* 메뉴 리스트 */
.menu_list { max-width: 1240px; margin: auto; overflow: hidden; box-sizing: border-box;}
	.menu_list > li { float: left; width: 31.7%; margin: 0 10px 50px;}
	
	@media screen and (max-width: 1242px) {
		.menu_list > li { width: 31%;}
	}
	
	@media screen and (max-width: 875px) {				
		.menu_list > li { width: 30%;}
	}
	
	@media screen and (max-width: 618px) {
		.menu_list > li { width: 45%; height: 400px; margin: 0 10px 0;}
	}
	
	@media screen and (max-width: 500px) {
		.menu_list > li { height: 380px;}
	}
	
	.img_warp { width: 100%; overflow: hidden;}
		.img_warp img { width: 100%;}
	
	.menu_list .b_l_title { font-size: 20px; font-weight: 600; margin: 15px 0 8px;}
		.menu_list .b_l_title a { display: block; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
	.menu_list .b_l_con { font-size: 16px; width: 100%; word-spacing: -2px;}
		.menu_list .b_l_con a { color: #888; display: block; white-space: normal; line-height: 1.2; min-height: 58px; overflow: hidden; word-wrap: break-word; display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical;}
		
	@media screen and (max-width: 875px) {
		.menu_list .b_l_title { font-size: 18px;}
		.menu_list .b_l_con a { font-size: 14px; height: 34px;}
	}
	
	/* hover */
	.menu_list > li div img { transform: scale(1.0); transition: transform 1s;}
	.menu_list > li div img:hover { transform: scale(1.2);}
	
	.menu_list > li:hover a { text-decoration: underline;}

	
/* 페이징 버튼 */
.page_number { text-align: center; margin-bottom: 80px;}
	.page_number > ul { display: inline-block; font-size: 14px;}	
		.page_number > ul li { float: left; padding: 10px 14px; border: 1px solid #ccc; margin-left: -1px; cursor: pointer;}
		.page_number > ul .action { background: #efefef; font-weight: 600; color: #523f31;}

	

/* 메뉴 상세 */
#sub_menu_info { max-width: 1220px; margin: 50px auto 0; padding: 0 10px;}

@media screen and (max-width: 768px) {
	#sub_menu_info .menu_list_warp { margin: -30px auto 60px;}
}


.info_img { width: 48%; max-width: 560px; float: left; margin-right: 20px;}
	.info_img img { width: 100%;}

.menu_info { width: 50%; max-width: 620px; font-size: 15px; border-top: 2px solid #666; border-bottom: 2px solid #666;}
	.menu_info th { border-bottom: 1px solid #ccc; padding: 20px;}
	.menu_info td { border-bottom: 1px solid #ccc; padding: 15px 0; line-height: 22px;}
	.menu_info tr:last-child td { border-bottom: none;}
	.menu_info .info_title { font-weight: 600; width: 25%; padding-left: 20px;}
	
		.menu_info h3 { font-size: 22px; text-align: left;}
		.menu_info td ul li { padding-bottom: 5px;}
	
	@media screen and (max-width: 1100px) {
		.menu_info { width: 48%;}
			.menu_info th { padding: 15px 20px;}
			.menu_info td { padding: 10px 0;}
	}
	
	@media screen and (max-width: 1024px) {
	.menu_info { font-size: 14px;}
		.menu_info td { padding: 8px 0; line-height: 18px;}
		.menu_info .info_title { width: 30%;}
		
			.menu_info h3 { font-size: 20px;}
	}
	
	@media screen and (max-width: 868px) {
		.info_img { width: 100%; max-width: 100%;}
		.menu_info { float: left; width: 100%; max-width: 100%; margin-top: 30px;}
		
		.menu_info .info_title { width: 20%;}
	}
	
	@media screen and (max-width: 670px) {
		.menu_info .info_title { width: 28%;}
	}
			
.info_text { clear: left; font-size: 13px; color: #666; padding-top: 10px;}

.button_zone { text-align: right;}
	.button_zone input { padding: 14px 50px; border: 1px solid #666; background: #fff; font-size: 15px; color: #666; cursor: pointer;}
	
	
	/* 이건 어때요? */
	.menu_recommend { margin: 120px 0;}
	.menu_recommend:after { content: ""; display: block; clear: both;}
		
		.menu_recommend h2 { font-size: 25px; color: #523f31; margin-bottom: 20px;}

		.recommend_list > li { float: left; width: 24%; margin-right: 15px;}
		.recommend_list > li:last-child { margin-right: 0;}
			
			.recommend_list > li img { transform: scale(1.0); transition: transform 1s;}
			.recommend_list > li img:hover { transform: scale(1.2);}
			
		.recommend_list .b_l_title { font-size: 16px; font-weight: 600; margin-top: 15px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
		.recommend_list .b_l_title:hover a { text-decoration: underline;}
		
		
	@media screen and (max-width: 1160px) {
		.recommend_list > li { width: 23.5%;}
	}
	
	@media screen and (max-width: 785px) {
		.recommend_list > li { width: 23%;}
	}
	
	@media screen and (max-width: 600px) {
		.recommend_list > li { width: 22%;}
	}
		
		
/* 공지사항 */
.notice_page { max-width: 1220px; margin: auto; padding: 0 10px;}

	.sub_notice_list  { font-size: 15px; width: 100%; text-align: center; margin-bottom: 50px; word-break: keep-all; line-height: 22px; border-spacing: 0;}
		.sub_notice_list  th { padding: 12px 0; color: #523f31; border-top: 2px solid #523f31; border-bottom: 1px solid #ccc; background: #fff9f4; font-weight: 800;}
		
		.sub_notice_list  .action { font-weight: 600;}
		.sub_notice_list  td { padding: 15px 10px; border-bottom: 1px solid #ccc;}
		.sub_notice_list  tr:last-child td { border-bottom: 2px solid #523f31;}
		.sub_notice_list  .num { width: 80px;}
		.sub_notice_list  .title { text-align: left;}
		.sub_notice_list  .name { width: 100px;}
		.sub_notice_list  .wdate { width: 140px;}

			.sub_notice_list  td a:hover { text-decoration: underline;}
			
	@media screen and (max-width: 1024px) {
		.sub_notice_list  .num { width: 8%;}
		.sub_notice_list  .name { width: 10%;}
		.sub_notice_list  .wdate { width: 14%;}
	}
	
	@media screen and (max-width: 768px) {
		.sub_notice_list  { border-top: 2px solid #523f31; border-bottom: 2px solid #523f31;}
			.sub_notice_list th, .sub_notice_list  .num { display: none;}
			.sub_notice_list td { padding: 0 15px; border-bottom: none;}
		
		.sub_notice_list .title { width: 100%; display: block; box-sizing: border-box; font-weight: 600; padding-top: 18px; border-top: 1px solid #ddd;}
			.sub_notice_list .action { background: #fff9f4;}
			.sub_notice_list .action .title a { color: #523f31;}
			.sub_notice_list .action .name, .sub_notice_list  .action .wdate { color: #666;}
		.sub_notice_list .name { float: left; font-size: 12px; text-align: left; color: #999; width: auto; border-right: 1px solid #ddd;}
		.sub_notice_list .wdate { float: left; width: 100px; font-size: 12px; text-align: left; color: #999; padding-bottom: 15px;}
		
	}
	
/* 공지사항 상세보기 */
.sub_notice_view { font-size: 15px; width: 100%; word-break: keep-all; line-height: 22px; border-spacing: 0; margin-bottom: 30px;}
	
	.sub_notice_view th { text-align: left; padding: 5px 20px; font-weight: 600;}
	
	.sub_notice_view .title { font-size: 16px; background: #f3e9e1; padding: 12px 20px;}
	.sub_notice_view .name { width: 50px;}
	.sub_notice_view .name, .sub_notice_view .wdate { border-bottom: 1px solid #ccc; font-size: 13px; color: #666;}
	
	.sub_notice_view td { padding: 20px; border-bottom: 1px solid #ccc;}
	

/* 이벤트 */
.sub_event { max-width: 1200px; margin: auto; padding-left: 10px;}
.sub_event:after { content: ""; display: block; clear: both;}	

	.sub_event > ul { margin-bottom: 30px; overflow: hidden;}	
	
		.sub_event > ul > li { float: left; width: 50%; padding-right: 20px; margin-bottom: 20px; box-sizing: border-box;}
			.sub_event img { width: 100%;}


/* 자주묻는 질문 */
.qna { max-width: 1220px; padding: 0 10px; margin: 10px auto 120px;}
	.qna > dl { border-top: 1px solid #ccc; word-break: keep-all;}
		.qna > dl dt { border-bottom: 1px solid #ccc; font-size: 16px; font-weight: 600; cursor: pointer; position: relative; padding: 18px 32px 18px 50px;}
		.qna > dl dt:before { position: absolute; content: "Q"; text-align: center; background: #333; display: inline-block; width: 30px; height: 30px; color: #fff; font-size: 16px; font-weight: bold; border-radius: 50%; left: 12px; top: 13px; line-height: 28px;}
		.qna > dl dt:after { position: absolute; content: ">"; transform: rotate(90deg); color: #999; font-size: 16px; top: 20px; right: 12px;}
		.qna > dl dt.on:after { transform: rotate(-90deg);}
		
		.qna > dl dd { position: relative; background: #efefef; padding: 16px 12px 16px 52px; font-size: 14px; font-weight: normal; overflow: hidden; border-bottom: 1px solid #ccc; line-height: 18px; display: none;}
		.qna > dl dd:before { position: absolute; content: "A"; background: #a17b61; color: #fff; font-size: 16px; width: 30px; height: 30px; font-weight: bold; line-height: 28px; border-radius: 50%; top: 12px; left: 12px; text-align: center;}
	

/* 영양정보 */	
.nutrition { max-width: 1220px; margin: 0 auto 120px; padding: 0 10px;}
.nutrition:after { content: ""; display: block; clear: both;}

	/* 검색 영역 */
	.nutrition_search { width: 100%; border: 1px solid #ccc; border-radius: 5px; font-size: 14px; padding: 10px 0;}
		.nutrition_search th { width: 10%; min-width: 63px; text-align: right;}
		.nutrition_search td { padding: 15px 30px;}
		
			/* 분류 */
			.group { padding: 5px 10px;}
			
			/* 제품명 */
			#product { padding: 10px 20px; width: 60%; min-width: 220px; border-radius: 5px; border: 1px solid #ccc;}
			
			/* 알레르기 체크박스 */
			.nutrition_search input[type='checkbox'] { display: none;}
			.nutrition_search .box { display: inline-block; width: 20px; height: 20px; background: #fff; border: 1px solid #ccc; vertical-align: middle; cursor: pointer;}
			.nutrition_search input[type='checkbox']:checked + .box { background: url('../images/checked.png');}
			
			.nutrition_search td > p { float: left; width: 13%; min-width: 97px; margin: 0 10px 20px 0; cursor: pointer; box-sizing: border-box;}
			
			/* 버튼 */
			
			
			.nutrition_search tr:last-child td { text-align: center;}
			.nutrition_search .button { padding: 15px 70px; border: none; border-radius: 5px; background: #523f31; font-weight: 600; color: #fff; cursor: pointer;}
			
			
	/* 검색 결과  리스트 */
	.nutrition_list { position: relative; margin-top: 80px;}
		.nutrition_list .loading { width: 100%; background: rgba(255, 255, 255, 0.8); position: absolute; top: 44px; min-height: 500px; display: none;}
			.nutrition_list .loading img { position: absolute; top: 50px; left: 45%; width: 20%;}
	
		.nutrition_list table { width: 100%; border-spacing: 0; font-size: 15px; border-bottom: 2px solid #523f31;}
			
			.nutrition_list th { color: #523f31; padding: 10px 0; border-top: 2px solid #523f31; border-bottom: 1px solid #ccc; background: #fff9f4; padding: 12px 0;}
			.nutrition_list th:first-child { width: 12%;}
			.nutrition_list th:nth-child(2) { width: 30%;}
			
			.nutrition_list td { padding: 15px 20px; border-bottom: 1px solid #ccc; text-align: center; word-break: keep-all; line-height: 22px;}
			.nutrition_list td:nth-child(2) { border-left: 1px solid #ccc; border-right: 1px solid #ccc;}